body {
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-weight: 300;
  text-align: center;
  background-color: #eeedff;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 300;
  margin-top: 5rem;
  padding: 10px;
  font-size: 20px;
  color: #000000;
  background-color: #edfcff;
  display: inline-block;
}
.question {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.answers {
  text-align: left;
  display: inline-block;
  font-size: 1rem;
}
.answers label {
  display: block;
  margin-bottom: 10px;
}
button {
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 0.3rem;
  border: 0rem;
  padding: 1rem;
  cursor: pointer;
  margin: 0.5rem;
}

button:hover {
  transition: all 0.2s ease-in;
  box-shadow: 0 5px 5px 0 /*rgba(189, 175, 175, 0.4)*/ rgba(224, 88, 122, 0.4);
  /* transform: translateZ(-4px); */
  transform: translateZ(-2px);
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide {
  opacity: 1;
  z-index: 2;
}
.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}
#results {
  font-size: 1rem;
  margin: 1rem;
}
